:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #f6f7fb;
  font-family: sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  text-align: center;
}
.progress-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 35rem;
  position: relative;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  margin: 0.5rem;
  font-size: 1.4rem;
}
.btn:active {
  transform: scale(0.98);
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
